* {
    box-sizing: border-box;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0
}

img {
    border-style: none;
    display: block
}

.link {
    text-decoration: none
}

.link:hover {
    transition: color .15s ease-in
}

/* Viewport width classification */

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

/* flexbox classification */

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.flex-none {
    flex: none
}

.flex-column {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse
}

.flex-column-reverse {
    flex-direction: column-reverse
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.items-stretch {
    align-items: stretch
}

.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.self-baseline {
    align-self: baseline
}

.self-stretch {
    align-self: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.content-start {
    align-content: flex-start
}

.content-end {
    align-content: flex-end
}

.content-center {
    align-content: center
}

.content-between {
    align-content: space-between
}

.content-around {
    align-content: space-around
}

.content-stretch {
    align-content: stretch
}

/* CSS - tanzilanimashaun.github.io */

html {
    font-family: 'Source Code Pro', monospace;
}

header {
    margin: 2rem auto;
    border: 0.25rem solid black;

}

.main-nav-container {
    background-color: #ff4136;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav-container {
    margin-top: 2rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
}

.nav-container a {
    margin-right: 2rem;
    color: white;
}

.nav-container a:hover {
    color: #ff948f
}

.logo {
    margin: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    background-color: #e7040f;
    color: white;
    border: 0.125rem solid white;
    border-radius: 40%;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 1s;
    transition-property: box-shadow;
}

.logo:hover {
    box-shadow: 0 0 4px 2px;
    transition: 0.15s ease-out;
}
.logo-t-container {
    margin-left: .25rem;
    margin-right: .25rem;

}

.logo-t-container p {
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0; 

}

.logo-codeCamp-container {
    margin-left: .25rem;
    margin-right: .25rem;

}

.logo-codeCamp-container p {
    margin-top: 0;
    margin-bottom: 0; 
}

.background {
    max-width: 100%;
    height: 430px;
    background-position: center center;
    text-shadow: 2px 2px 0px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/bgImage.jpg);
    background-color: rgba(255, 64, 54, 0.7);
    background-blend-mode: multiply;
    align-items: center;
}

.quote {
    color: white;
    text-align: center;
}

.about-me-container {
    margin-left: 5rem;
    margin-right: 5rem;
}

.profile-picture {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50% 5% 5% 5%;
    float: left;
}








